@using Northwind.Reporting.Rcl.Data
@using Northwind.Reporting.Enums
@using Northwind.Reporting.Interfaces

@model IReportConfig

@{
    Layout = "_Layout";    
}

<div class="row">
    <div class="col-12">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form method="post" href="@Context.Request.Path" >
            @Html.AntiForgeryToken()
            
            @* Render the report parameters only *@
            @RenderBody()
            
            <div class="form-group">
                <label asp-for="ReportWriter" class="form-label"></label>
                <select class="form-select"
                        asp-for="ReportWriter"
                        asp-items="@Enum.GetValues<ReportWriter>().Select(s => new SelectListItem()
                                                    {
                                                        Text = Enum.GetName<ReportWriter>(s),
                                                        Value = s.ToString(),
                                                        Selected = s == Model.ReportWriter
                                                    })">
                </select>
                <span asp-validation-for="ReportWriter" class="error"></span>
            </div>

            <div class="form-group">
                <label asp-for="Frequency" class="form-label"></label>
                <select class="form-select" id="frequency"
                        asp-for="Frequency"
                        asp-items="@Enum.GetValues<ReportFrequency>().Select(s => new SelectListItem()
                                                    {
                                                        Text = Enum.GetName<ReportFrequency>(s),
                                                        Value = s.ToString(),
                                                        Selected = s == Model.Frequency
                                                    })">
                </select>
                <span asp-validation-for="Frequency" class="error"></span>
            </div>

            <div class="form-group">
                <label asp-for="FrequencyWeeklyMonthly" class="form-label"></label>
                <select class="form-select" asp-for="FrequencyWeeklyMonthly" id="frequency-weekly-monthly"></select>
                <span asp-asp-validation-for="FrequencyWeeklyMonthly" class="error"></span>
            </div>
            <hr />
            <div class="btn-group">
                <button type="reset" class="btn btn-warning"><i class="fa-solid fa-rotate-left"></i> Reset</button>
                <button type="submit" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {    
    <script src="~/js/validate-form.js"></script>
    <script type="text/javascript">
        // When frequency is changed, show a set of values in frequency weekly monthly.
        document.onreadystatechange = (ev) => {
            if (document.readyState == 'complete')
            {
                setupFrequencySelects();
            }
        };

        document.getElementById('frequency').addEventListener("change", (ele, ev) => {
            setupFrequencySelects();
        });

        function setupFrequencySelects() {
            var val = document.getElementById('frequency').value;
            console.info(val + ' selected');

            var target = document.getElementById('frequency-weekly-monthly');
            var startEle = document.getElementById('startDate');
            var endEle = document.getElementById('endDate');
            var periodEle = document.getElementById('reportPeriod');

            var today = new Date();
            
            target.innerHTML = '';
            enableEle(target);
            enableEle(startEle);
            enableEle(endEle);
            disableEle(periodEle);

            switch (val) {
                case 'Daily':
                    enableEle(periodEle);
                    disableEle(startEle);
                    disableEle(endEle);
                    disableEle(target);
                    break;
                case 'Weekly':
                    // show the day in the users native lang
                    const i18n = new Intl.DateTimeFormat(navigator.language, { weekday: "long" });
                    // build list of days (where 0 = Sunday)
                    const days = [
                        i18n.format(new Date(2023, 0, 1)),
                        i18n.format(new Date(2023, 0, 2)),
                        i18n.format(new Date(2023, 0, 3)),
                        i18n.format(new Date(2023, 0, 4)),
                        i18n.format(new Date(2023, 0, 5)),
                        i18n.format(new Date(2023, 0, 6)),
                        i18n.format(new Date(2023, 0, 7))
                    ];

                    for (var i = 0; i < 7; i++) {
                        addOptionToSelect(target, i, days[i], today.getDay() == i);
                    }

                    enableEle(periodEle);
                    disableEle(startEle);
                    disableEle(endEle);

                    break;

                case 'Monthly':
                    for (var i = 1; i < 29; i++) {
                        addOptionToSelect(target, i, 'Day ' + i, today.getDate() == i);
                    }

                    enableEle(periodEle);
                    disableEle(startEle);
                    disableEle(endEle);

                    break;
                default:
                    // clear all values  
                    disableEle(target);                    
                    break;
            }
        }

        function addOptionToSelect(ele, value, text, selected)
        {
            ele.innerHTML += '<option value="' + value + '"' + (selected ? ' selected ' : '') + '>' + text + '</option>';
        }

        function enableEle(ele)
        {
            ele.disabled = false;
            if (ele.classList.contains('disabled')) {
                ele.classList.remove('disabled');
            }
        }

        function disableEle(ele)
        {
            ele.disabled = true;
            if (!ele.classList.contains('disabled')) {
                ele.classList.add('disabled');
            }
        }
    </script>
}

@await RenderSectionAsync("PageScripts", required: false)